body {
    padding-top: 70px;
}

.principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.area-canvas {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.imagen-canvas {
    border: 2px solid #000000;
}

.area-entrada {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.form-group {
    width: 90%;
}

.boton-descarga {
    margin-top: 10px;
}
